body {
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0a;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  code {
    background-color: #ff002f49;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 700;
    padding: 2px 6px;
  }
 
  .container {
    text-align: center;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: none;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
  }
  
  th {
    background-color: #1c1c1c;
    font-weight: 900;
  }
 
  input {
    flex-grow: 1;
    margin-right: 8px;
    padding: 10px;
    border: none;
    background-color: #1c1c1c;
    color: white;
  }

  button {
    padding: 3px 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 700;
  }

  .url_link {
    color: #0072bd;
    text-decoration: none;
    text-overflow: ellipsis;
    max-width: 40ch;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .addButton {
    color: #4caf50;
    font-size: 16px;
  }

  .importButton {
    color: white;
    text-decoration: underline;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  
.deleteButton {
    color: #e74c3c;
    font-size: 16px;
  }


  .link_container {
    display: inline-block;
  }

  /* Add these styles for the new button */
#toggleThemeButton {
  position: absolute;
  top: 8px; /* Adjust the top distance as needed */
  right: 10px; /* Adjust the right distance as needed */
  padding: 5px;
  font-size: 22px;
  color: white;
  outline: none;
}